// Xcode Signing Constants
//
// These are integrated into the Xcode project at build time to allow for dynamic signing configs
// across our many targets.
//
// Create `Signing.local.xcconfig` overriding each variable to provide your own personal signing
// overrides during local development:
//     GREAT_MEMORIES_TEAM_ID = ABCDE12345
//     GREAT_MEMORIES_BUNDLE_ID_PROD = com.customuniqueid.greatmemories
//     GREAT_MEMORIES_BUNDLE_ID_DEV = com.customuniqueid.greatmemoriesdev
//     GREAT_MEMORIES_GROUP_ID = group.com.customuniqueid.greatmemories

// Apple Developer Team ID used for automatically provisioning signing credentials
GREAT_MEMORIES_TEAM_ID = 2W7AC6T8T5

// Root bundle identifier for the Release configuration.
// Extension suffixes (`.ShareExtension`/`.Widget`) will be appended
GREAT_MEMORIES_BUNDLE_ID_PROD = com.greatmemories.app

// Root bundle identifier for the Debug and Profile configurations.
// Build scheme suffixes (`.debug`/`.profile`) will be appended
GREAT_MEMORIES_BUNDLE_ID_DEV = com.greatmemories.app.dev

// Root App Group identifier.
// Build scheme suffixes (`.debug`/`.profile`) will be appended
GREAT_MEMORIES_GROUP_ID = group.com.greatmemories.app.share

// Optional per-developer configuration override
#include? "Signing.local.xcconfig"
